@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Poppins", serif;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
}
header{
    max-width: 80%;
    margin: 0 auto;
}
.nav-brand{
    font-size: 25px;
    font-weight: 700;
    color: rgb(58, 58, 58);
}
.nav{
    display: flex;
    padding: 20px 10px;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    display: flex;
    align-items: center;
}
.nav-item, .nav-icon {
    list-style: none;
}

.nav-link{
    text-decoration: none;
    font-size: 16px;
    color: rgb(58, 58, 58);
    padding: 15px 25px;
    display: flex;
    align-items: center;
}

.nav-link:hover{
    background-color: steelblue;
    color: white;
}
.nav-icon img{
   width: 30px;
   margin-right: 25px;
}

/* responsiveness for nav */
@media screen and (max-width:576px) {
    .nav{
        flex-direction: column;
        text-align: center;
    }
    .navbar{
        flex-direction: column;
    }
}
@media screen and (min-width:576px) and (max-width:992px) {
    .nav{
        flex-direction: column;
    }
}

/* Hero part */
.hero{
    display: flex;
    align-items: center;
    padding: 60px 15px;
    gap: 30px;
    justify-content: space-between;
}
.hero img{
    max-width: 100%;
}
.hero-intro{
    color: rgb(58, 58, 58);
}
.hero-intro > p{
    margin: 15px 0px 25px;
}
.prebook-now{
    border: 20px;
    padding: 10px 15px;
    border-radius: 40px;
    background-color:  rgb(224, 44, 109);
    color: white;
    font-weight: 700;
    text-decoration: none;
}
.fa-arrow-right{
    margin-left: 5px;
}
/* Responsiveness */
@media screen and (max-width:576px) {
    .hero{
        flex-direction: column;
        text-align: center;
    }
}

/* Our Products available sites list */
.available-sites-container{
    max-width: 80%;
    margin: 0 auto;
    padding: 100px 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}


/* shopping-sec */
.shopping-sec{
    max-width: 80%;
    margin: 0 auto;
}
.shopping-sec > h1{
    text-align: center;
    margin: 30px 0px;
    color: rgb(58, 58, 58);
    font-size: 30px;
    font-weight: 600;
}
.shopping-cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.shopping-card{
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    padding: 14px;
    
}
.shopping-card img{
    width: 100%;
}
.shopping-card h3{
    margin: 15px 0px;
    color: rgb(24, 25, 31);
}
.shopping-card h3 + span{
    color: rgba(0, 0, 0, 0.87);
    font-size: 24px;
    font-weight: 400;
    display: block;
}
.shopping-card p{
    font-size: 14px;
    font-weight: 700;
    color: rgb(120, 120, 133);
    margin: 15px 0px;
}
.review-stars{
    color: orange;
}
